[package]
name = "{{ name }}"
version = "0.0.0"
edition = "2021"
description = "{{ description }}"
readme = "README.md"
homepage = "https://github.com/spelbryggeriet/{{ name }}"
repository = "https://github.com/spelbryggeriet/{{ name }}"
license = "Apache-2.0"
keywords = {{ keywords | json_encode() }}
categories = {{ categories | json_encode() }}

[dependencies]
